DB_URL=jdbc:postgresql://localhost:5432/sky_subscription

DB_READER_USERNAME=app_reader
DB_READER_PASSWORD=changeme_reader

DB_WRITER_USERNAME=app
DB_WRITER_PASSWORD=changeme_writer

DB_DELETER_USERNAME=app_cleaner
DB_DELETER_PASSWORD=changeme_deleter
